* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
/* Ilangno highlight biru*/
  -webkit-focus-ring-color: transparent;
  outline: none;
}

body {
  min-height: 100vh;
  background-color: #0d0d0d;
  font-family: "Ubuntu", sans-serif;
}

/*KEYFRAME TRANSISI MASUK*/
@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInTop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* NAVBAR */
nav {
  background-color: #0d0d0d;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  transition: all 0.3s ease;
  font-weight: 400;
}

nav a:hover {
  color: #9d4edd;
  transform: scale(1.1);
}

nav li:first-child {
  margin-right: auto;
}

.titlepage {
  color: white;
  padding: 13px 20px;
  font-family: "Ubuntu";
  font-weight: bold;
}

/* SIDEBAR (mobile) */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(20, 20, 20, 0.95);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.5);

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  /* animasi */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
  padding: 20px 40px;
}

/* blur konten ketika sidebar on */
.container.blur {
  filter: blur(3px);
  transition: filter 0.7s ease;
}

/* Hamburger selalu di pojok kanan */
.hamburger {
  display: none;
  z-index: 1000;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar li:not(:first-child) {
    display: none;
    /* sembunyiin menu di mobile */
  }

  .hamburger {
    display: block;
    /* tampilkan hamburger */
  }
}



.container {
  margin: 20px;
  padding: 20px;
  width: auto;
}

/* HOME */
.profileutama-home {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}


/* GAMBAR */
.fotoprofil-home {
  flex: 1.2;
  display: flex;
  justify-content: flex-end;
}

.fotoprofil-home img {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  padding: 5px;
  transition: 0.3s;
  /* TRANSISI MASUK */
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInLeft 1s ease-out forwards;
  
}

.fotoprofil-home img:hover {
  padding: 10px;
  border-left: 2px solid #9d4edd;
  border-right: 2px solid #9d4edd;
}

/* INTRODUCE TEXT */
.introduce-home {
  flex: 1.8;
  color: white;
  width: auto;

  /* TRANSISI MASUK */
  opacity: 0;
  transform: translateX(50px);
  animation: slideInRight 1s ease-out forwards;
  animation-delay: 0.3s;
  /* muncul sedikit setelah gambar */
}

.introduce-home h2 {
  padding: 15px;
}

.introduce-home p {
  padding: 15px;
  line-height: 1.5;
  text-align: justify;
  width: 70%;
  transition: 0.3s;
}

/* efek hover border */
.introduce-home p:hover {
  padding: 10px;
  border-top: 2px solid #9d4edd;
  border-bottom: 2px solid #9d4edd;
}

/* IKON SOSMED INTRODUCE */

.sosmed-icons {
  display: flex;
  gap: 15px;
  padding: 15px;
}

.sosmed-icons img {
  width: 20px;
  height: 20px;
  transition: 0.3s;
}

.sosmed-icons img:hover {
  transform: scale(1.3);
  filter: brightness(0) saturate(100%) invert(16%) sepia(100%) saturate(6000%) hue-rotate(280deg);
}

/* HIGHLIGHT TEXT */
.highlightputihbersinar {
  font-weight: bold;
  color: #9d4edd;
  transition: 0.3s;
}

.highlightputihbersinar:hover {
  color: #fff;
  text-shadow:
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.6),
    0 0 20px rgba(255, 255, 255, 0.4);
}

.highlightintroduce-home {
  transition: color 0.2s;
  cursor: pointer;
}

.highlightintroduce-home:hover {
  color: #9d4edd;
}


/* Responsivitas Home */
@media (max-width: 768px) {
  .profileutama-home {
    /* vertikal */
    flex-direction: column;
    text-align: center;
  }

  .fotoprofil-home {
    /* gambar ditengah */
    justify-content: center;
  }

  .fotoprofil-home img {
    /* ukuran fotone */
    max-width: 60%;
  }

  .introduce-home {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introduce-home p {
    width: 100%;
  }
  
  .pilihanmenuhome-layer1 {
    flex-direction: column;
  }
  .pilihanmenuhome-layer2 {
    flex-direction: column;
  }
}

/* MENU DI HOME */
.menuhome {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
} 
/* Merapikan dadi 2 baris */
.pilihanmenuhome-layer1 {
  display: flex;
  justify-content: center;
}
.pilihanmenuhome-layer2 {
  display: flex;
  justify-content: center;
}
/* Perpilihan  menu */
.pilihanmenuhome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  padding: 10px 10px 20px 10px;
  margin: 30px;
  width: 230px;
  border: 1px solid #9d4edd;
  border-radius: 8px;
  transition: 0.3s ease;
  /* TRANSISI MASUK */
  opacity: 0;
  transform: translateY(50px);
  animation: slideInRight 1s ease-out forwards;
  animation-delay: 0.3s;
}
/* Hover per pilihan menu */
.pilihanmenuhome:hover {
  box-shadow: 0 0 15px rgba(157, 78, 221, 0.9);
}
/* Logo menu */
.logomenuhome img {
  width: 100px;
  height: auto;
  margin: 5px;
}
/* Judul menu */
.judulmenuhome h3 {
  margin: 5px;
  font-size: 25px;
}
/* Keterangan menu */
.keteranganmenuhome p {
  margin: 10px 0 20px 0;
}
/* Tombol read more menu */
.tombolreadmoremenuhome {
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
}

/* TOMBOL HOVER  */
.tombolhoverungu {
  border: 1px solid #9d4edd;
  color: #9d4edd;
  transition: 0.5s ease;
}
.tombolhoverungu:hover {
  background-color: #9d4edd;
  color: #fff;
}