* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  /* Ilangno highlight biru*/
  -webkit-focus-ring-color: transparent;
  outline: none;
}

body {
  min-height: 100vh;
  background-color: #0f0f10;
  font-family: "Ubuntu", sans-serif;
}

/* GARIS */
.garis {
  border: none;
  height: 1px;
  width: 80%;
  background: linear-gradient(to right, #9d4edd, #c77dff);
  border-radius: 10px;
  margin: 50px auto;
}

/*KEYFRAME TRANSISI MASUK*/
/* Kondisi awal semua elemen */
.slide-left,
.slide-right,
.slide-top,
.slide-bottom {
  opacity: 0;
  transform: translateX(0);
}

.slide-left { transform: translateX(-50px); }
.slide-right { transform: translateX(50px); }
.slide-top { transform: translateY(-50px); }
.slide-bottom { transform: translateY(50px);}

/* Aktif animasi */
.slide-left.animate   { animation: slideInLeft 1s ease-out forwards; }
.slide-right.animate  { animation: slideInRight 1s ease-out forwards; }
.slide-top.animate    { animation: slideInTop 1s ease-out forwards; }
.slide-bottom.animate { animation: slideInBottom 1s ease-out forwards; }

/* Keyframes */
@keyframes slideInLeft {
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slideInRight {
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slideInTop {
  to { opacity: 1; transform: translateY(0); }
}
@keyframes slideInBottom {
  to { opacity: 1; transform: translateY(0);}
}

/* Aktif animasi progress */
.progress.animate.fill-90 { animation: fill90 2s forwards; }
.progress.animate.fill-80 { animation: fill80 2s forwards; }
.progress.animate.fill-70 { animation: fill70 2s forwards; }
.progress.animate.fill-60 { animation: fill60 2s forwards; }
.progress.animate.fill-50 { animation: fill50 2s forwards; }
.progress.animate.fill-40 { animation: fill40 2s forwards; }
.progress.animate.fill-30 { animation: fill30 2s forwards; }

/* Aktif animasi progress khusus */
.progress.animate.fill-89 { animation: fill89 2s forwards; }
.progress.animate.fill-86 { animation: fill86 2s forwards; }
.progress.animate.fill-15 { animation: fill15 2s forwards; }
.progress.animate.fill-95 { animation: fill95 2s forwards; }
.progress.animate.fill-55 { animation: fill55 2s forwards; }
.progress.animate.fill-75 { animation: fill85 2s forwards; }
.progress.animate.fill-85 { animation: fill75 2s forwards; }

/* Keyframes progress */
@keyframes fill90 { from { width: 0; } to { width: 90%; } }
@keyframes fill80 { from { width: 0; } to { width: 80%; } }
@keyframes fill70 { from { width: 0; } to { width: 70%; } }
@keyframes fill60 { from { width: 0; } to { width: 60%; } }
@keyframes fill50 { from { width: 0; } to { width: 50%; } }
@keyframes fill40 { from { width: 0; } to { width: 40%; } }
@keyframes fill30 { from { width: 0; } to { width: 30%; } }
/* Keyframes khusus */
@keyframes fill89 { from { width: 0; } to { width: 89%; } }
@keyframes fill86 { from { width: 0; } to { width: 86%; } }
@keyframes fill15 { from { width: 0; } to { width: 15%; } }
@keyframes fill95 { from { width: 0; } to { width: 95%; } }
@keyframes fill55 { from { width: 0; } to { width: 55%; } }
@keyframes fill75 { from { width: 0; } to { width: 75%; } }
@keyframes fill85 { from { width: 0; } to { width: 85%; } }
/* NAVBAR */
nav {
  background-color: #0d0d0d;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  transition: all 0.3s ease;
  font-weight: 400;
}

nav a:hover {
  color: #9d4edd;
  transform: scale(1.1);
}

nav li:first-child {
  margin-right: auto;
}

.titlepage {
  color: white;
  padding: 13px 20px;
  font-family: "Ubuntu";
  font-weight: bold;
}

/* SIDEBAR (mobile) */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(20, 20, 20, 0.95);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.5);

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  /* animasi */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
  padding: 20px 40px;
}

/* blur konten ketika sidebar on */
.container.blur {
  filter: blur(3px);
  transition: filter 0.7s ease;
}

/* Hamburger selalu di pojok kanan */
.hamburger {
  display: none;
  z-index: 1000;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar li:not(:first-child) {
    display: none;
    /* sembunyiin menu di mobile */
  }

  .hamburger {
    display: block;
    /* tampilkan hamburger */
  }
}

.container {
  margin: 20px;
  padding: 20px;
  width: auto;
}

/* HOME */
.profileutama-home {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 50px 0 80px 0;
}

/* GAMBAR */
.fotoprofil-home {
  flex: 1.2;
  display: flex;
  justify-content: flex-end;
}

.fotoprofil-home img {
  max-width: 280px;
  height: auto;
  border-radius: 10px;
  padding: 5px;
  transition: 0.3s;
}

.fotoprofil-home img:hover {
  padding: 10px;
  border-left: 2px solid #9d4edd;
  border-right: 2px solid #9d4edd;
}

/* INTRODUCE TEXT */
.introduce-home {
  flex: 1.8;
  color: white;
  width: auto;
}

.introduce-home h2 {
  padding: 15px;
  font-size: 40px;
}

.introduce-home p {
  padding: 15px;
  line-height: 1.5;
  text-align: justify;
  width: 70%;
  transition: 0.3s;
}

/* efek hover border */
.introduce-home p:hover {
  padding: 10px;
  border-top: 2px solid #9d4edd;
  border-bottom: 2px solid #9d4edd;
}

/* IKON SOSMED INTRODUCE */

.sosmed-icons {
  display: flex;
  gap: 15px;
  padding: 15px;
}

.sosmed-icons img {
  width: 20px;
  height: 20px;
  transition: 0.3s;
}

.sosmed-icons img:hover {
  transform: scale(1.3);
  filter: brightness(0) saturate(100%) invert(16%) sepia(100%) saturate(6000%) hue-rotate(280deg);
}

/* HIGHLIGHT TEXT */
.highlightputihbersinar {
  font-weight: bold;
  color: #9d4edd;
  transition: 0.3s;
}

.highlightputihbersinar:hover {
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
}

.highlightintroduce-home {
  transition: color 0.2s;
  cursor: pointer;
}

.highlightintroduce-home:hover {
  color: #9d4edd;
}

/* Responsivitas Home */
@media (max-width: 768px) {
  .profileutama-home {
    /* vertikal */
    flex-direction: column;
    text-align: center;
  }

  .fotoprofil-home {
    /* gambar ditengah */
    justify-content: center;
  }

  .fotoprofil-home img {
    /* ukuran fotone */
    max-width: 60%;
  }

  .introduce-home {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introduce-home p {
    width: 100%;
  }

  .pilihanmenuhome-layer1 {
    flex-direction: column;
  }

  .pilihanmenuhome-layer2 {
    flex-direction: column;
  }
}

/* MENU DI HOME */
.menuhome {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
}

/* Merapikan dadi 2 baris */
.pilihanmenuhome-layer1 {
  display: flex;
  justify-content: center;
}

.pilihanmenuhome-layer2 {
  display: flex;
  justify-content: center;
}

/* Perpilihan  menu */
.pilihanmenuhome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #1a1a1d;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 10px 20px 10px;
  margin: 30px;
  width: 230px;
  border-radius: 8px;
  transition: 0.3s ease;
}

/* Hover per pilihan menu */
.pilihanmenuhome:hover {
  box-shadow: 0 0 15px rgba(157, 78, 221, 0.9);
}

/* Logo menu */
.logomenuhome img {
  width: 100px;
  height: auto;
  margin: 5px;
}

/* Judul menu */
.judulmenuhome h3 {
  margin: 5px;
  font-size: 25px;
}

/* Keterangan menu */
.keteranganmenuhome p {
  margin: 10px 0 20px 0;
}

/* Tombol read more menu */
.tombolreadmoremenuhome {
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
}

/* TOMBOL HOVER  */
.tombolhoverungu {
  border: 1px solid #9d4edd;
  color: #9d4edd;
  transition: 0.5s ease;
}

.tombolhoverungu:hover {
  background-color: #9d4edd;
  color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.tombolhoverputihbackground {
  border: 1px solid white;
  color: white;
  transition: 0.5s ease;
}

.tombolhoverputihbackground:hover {
  background-color: #fff;
  color: #9d4edd;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

/* PROJECT HOME MENU */
.judulmenu-home {
  color: white;
  font-size: 40px;
  margin: 0 0 20px 0;
}

.pilihanbestproject-home {
  background-color: #1a1a1d;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  margin: 10px;
  padding: 10px 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  transition: 0.3s ease;
}

.pilihanbestproject-home:hover {
  box-shadow: 0 0 15px rgba(157, 78, 221, 0.9);
}

.gambarproject {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.gambarproject img {
  width: 240px;
  height: 135px;
  border-radius: 8px;
}

.judulproject {
  margin: 5px;
  color: white;
}

.keteranganproject {
  margin: 5px 10px;
  color: white;
  text-align: center;
}

.tomboltryhome {
  width: auto;
  display: flex;
  justify-content: center;
}

.tomboltryprojecthome {
  border-radius: 5px;
  padding: 8px;
  margin: 5px;
  text-decoration: none;
}


/* SKILLL HOME */

.kotakskill-home {
  background-color: #1a1a1d;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  width: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 15px;
  margin: 20px;
}
.juduljenisskill-home {
  color: white;
  text-align: center;
  font-size: 20px;
}
.jenisskilll-home {
  margin-bottom: 20px;
}
.skill-name {
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
  margin-top: 5px;
}
.progress-bar {
  width: 100%;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  height: 15px;
}
.progress {
  height: 100%;
  width: 0;
  /* awalnya 0 */
  background: linear-gradient(90deg, #c77dff, #9d4edd);
  font-size: 13px;

  display: flex;
  align-items: center;
  justify-content: right;

  padding-right: 10px;
  color: white;
  line-height: 18px;
  border-radius: 10px;
}

/* FOOTER */

.footer {
  background: #1a1a1a;
  color: #fff;
  padding: 40px 20px 20px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}
.footer h2, .footer h3 {
  color: #9d4edd;
}
.footer p {
  font-size: 13px;
  margin: 10px 0;
}
.footer-links ul {
  list-style: none;
  padding: 0;
}
.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.footer-links ul li a:hover {
  color: #9d4edd;
}
.footer-social a {
  margin: 0 10px;
  color: #9d4edd;
  text-decoration: none;
  font-weight: bold;
}
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 14px;
  color: #aaa;
}
    